<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
  <link rel="stylesheet" href="thumbnail-gallery.css">

</head>

<body>

  <div class="container gallery-container">

    <h1>Dojo Store</h1>

    <a class="btn btn-primary btn-sm mr-2" href="<%= logout_path %>" role="button" data-method="delete">Logout</a>
    <a class="btn btn-primary btn-sm mr-2" href="/users/<%= current_user.id %>" role="button">Go to Dashboard</a>

    <!-- <% @products.each_slice(3) do |product| %> -->
    <div class="tz-gallery">
      <div class="row">
          <% product.each do |product| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a class="lightbox" href="/assets/<%= product.image %>.jpg">
              <img src="/assets/<%= product.image %>.jpg">
            </a>
            <div class="caption">
              <h3>
                <%= product.product %>
              </h3>
              <p>Seller:
                <%= product.user.full_name %>
              </p>
              <p>Date Posted:
                <%= product.created_at.strftime('%m/%d/%Y') %>
              </p>
              <p>Amount:
                <%= number_to_currency(product.amount) %>
              </p>
              <form action="/products/<%= product.id %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="patch">
                <input class="btn btn-primary btn-sm mr-2" type="submit" name="buy" value="Buy">
              </form>
            </div>
          </div>
        </div>
        
        <% end %>
      </div>
      
    </div>
    <!-- <% end %> -->
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
  <script>
    baguetteBox.run('.tz-gallery');
  </script>
</body>

</html>